
body{
  margin: 0;
  padding: 0;
  background: url(images/rose2.jpg) no-repeat;
  background-size: cover;
}
.about {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}

.about-img
{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.about h1,
.project h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.about h5,
.project h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.about p, 
project p{
  text-align: justify;
}
.project {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto; 
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.project-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

ul{
  margin: 0;
  padding: 0;
}
.about li,
.project li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.about li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.project li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.about, 
 li a:hover{
  color: #b9b9b9;
}
.project, l
li a:hover{
    color: #b9b9b9;
}
